body {
    color: #666;
    background: #fdfdfd;
    font-family: "Marcellus",sans-serif;    
}

a {
    color: #7CAE23;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    color: #CCCCCC;
    height: 4px;
    padding: 0;
}

#body-wrapper {
    max-width: 100%;    
    padding-top: 0;
}

#footer-wrapper {
    width: 1140px;
    max-width: 1140px;
}

/* - - - - - - - */

.head-area {
    padding-top: 20px;
    background: #fff;
}

.title {
    margin: 0 auto;
    padding-top: 15px;
    width: 300px;
    height: 120px;
    background: #fff url(alice.png) 130px 0 no-repeat;    
}

.title h1 {
    font-size: 48px;
    margin: 0;
    line-height: 60px;
}

.title h1 a {
    color: #7CAE23;
}

.title h1 a:hover {
    opacity: 0.8;
    text-decoration: none;
}

.title .description {
    margin: 0;
    color: #999;
    font-size: 12px;
}

.nav-area {
    font-size: 14px;
    height: 60px;
    color: #888;
    margin-bottom: 15px;
    background: #D6FBCE;
    border-top: 4px solid #9ACD4B;
}

.main-nav {
    list-style-position: inside;
    line-height: 36px;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
    width: 840px;
}

.main-nav li {
    margin: 0 15px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-weight: bold;
}

.main-nav a {
    color: #668430;
}

.main-nav a:hover {
    opacity: 0.8;
}

.main-area {
    width: 1140px;
    margin: 30px auto 0;
    position: relative;
}

.content-area {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 29px;
    width: 860px;
    margin-left: 220px;
}

.side-area {
    width: 200px;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.side-area a {
    font-size: 14px;
    display: block;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-bottom: none;
    position: relative;
    text-shadow: 0 1px 2px #eee;
}

.side-area a .iconfont {
    color: #ccc;
    position: absolute;
    right: 12px;
    top: 11px;
    font-size: 12px;
    text-shadow: 0 0 3px #eee;
}

.side-area a:hover {
    background: #f8f8f8;
    text-decoration: none;
}

.side-area a:hover .iconfont {
    color: #aaa;
}

.content-area h1 {
    font-size: 28px;
    text-align: center;
    margin: 30px 0;
}

.content-area h1:before, 
.content-area h1:after {
    content: '—';
    color: #eee;
    margin: 1.5em;
}

.content-area h2 {
    font-size: 22px;
    color: #7CAE23;
    margin-top: 40px;
}

.content-area h3 {
    font-size: 18px;
}

.content-area h4 {
    font-size: 14px;
}

/* responsive */
@media (max-width: 980px) {

}
